Checks: >
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*
  -readability-identifier-length,
  -misc-include-cleaner,
  -concurrency-mt-unsafe,
  -misc-header-include-cycle,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
